{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Analytics{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if results %}
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                {% for field in results[0]._fields %}
                <th scope="col">{{ field }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for result in results %}
        <tr>
            {% for field in results[0]._fields %}
            <td>{{ result[field] }}</th>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}
