{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Search{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <div class="form-group">
            <label for="query">Term</label>
            <input class="form-control" type="text" name="query" id="query" required>
        </div>

        <div class="form-group">
            <label for="link">Matching Method</label>
            <select class="form-control" name="link" id="link">
                <option value="or" selected>Partial Matching</option>
                <option value="and">Exact Matching</option>
            </select>
        </div>

        <input class="btn btn-primary" type="submit" value="Search">
    </form>

    <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-ui.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui.css') }}">
    <script>
    $(function() {
        $("#query").autocomplete({ source: '{{ url_for("autocomplete") }}', minLength: 2 });
    });
    </script>

    {% if query %}
    <link rel="stylesheet" href="{{ url_for('static', filename='highlight.css') }}">
    <script src="{{ url_for('static', filename='highlight.js') }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <h1 class="mt-3">Executed Query</h1>
    <pre><code class="sql py-3 px-4">{{ query }}</code></pre>
    {% endif %}

    <h1 class="mt-3">Results</h1>
    {% if movies %}
    {% for movie in movies %}
    <div class="card mb-3">
        <div class="card-header">
            {{ movie.title | safe }}

            {% for category in movie.categories.split(';') %}
            <span class="badge badge-pill badge-primary">{{ category | safe }}</span>
            {% endfor %}

            <span class="float-right">
                <span class="badge badge-pill badge-success">{{ movie.rank }}</span>
            </span>
        </div>
        <div class="card-body">
            <p class="card-text">{{ movie.description | safe }}</p>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No results were returned</p>
    {% endif %}
{% endblock %}
